<header class="header">
  <div class="conteiner header__conteiner">
    <div class="logo-wrapper">
      <a href="index.html">
        <img
          src="images/favicon.png"
          alt="Логотип"
          width="40"
          height="35"
          class="logo"
        />
      </a>
    </div>
    <svg
      class="burger-button__icon"
      width="40"
      height="35"
      style="color: green"
    >
      <use href="images/favicon.png"></use>
    </svg>
    <a class="logo link" href="index.html"
      >Finance<span class="header__logo">Ledger</span></a
    >
    <nav class="nav">
      <ul class="nav__list list">
        <li class="nav__item">
          <a class="nav__link nav__link--current link" href="index.html"
            >Home</a
          >
        </li>
        <li class="nav__item">
          <a class="nav__link link" href="">About</a>
        </li>
        <li class="nav__item">
          <a class="nav__link link" href="">Cases</a>
        </li>
        <li class="nav__item">
          <a class="nav__link link" href="">Blog</a>
        </li>
        <li class="nav__item">
          <a class="nav__link link" href="">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<!-- <a class="scroll-to" href="#gallery"
  ><svg class="">
    <use href=""></use>
  </svg>
</a> -->
